body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: #0077cc;
  color: white;
  padding: 1px;
  text-align: center;
}

header p{
  font-size: 0.9em;
  color: #e0e0e0;  
}

.container {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: 20%;
  background: #f4f4f4;
  padding: 15px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin: 8px 0;
}

.sidebar li ul {
  margin-left: 15px;
  padding-left: 0px;
  border-left: 2px solid #ddd;
}

.sidebar a {
  text-decoration: none;
  color: #0077cc;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  width: 80%;
  padding: 15px;
  box-sizing: border-box;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.custom-link {
    text-decoration: none; 
    color: #ffffff; 
}

.custom-link:visited {
    color: #ffffff; 
}

.custom-link:hover,
.custom-link:active {
    color: #06559e; 
    text-decoration: none; 
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

